<nav class="navbar navbar-expand-lg sticky-top navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Carcosa DM Tools</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink="/carousing" routerLinkActive="active">Caurousing</a>
        <a class="nav-item nav-link" routerLink="/encounters" routerLinkActive="active">Encounters</a>
        <a class="nav-item nav-link" routerLink="/mutations" routerLinkActive="active">Mutations</a>
        <a class="nav-item nav-link" routerLink="/treasure" routerLinkActive="active">Treasure</a>
        <a class="nav-item nav-link" routerLink="/wild-surges" routerLinkActive="active">Wild Surges</a>
      </div>
    </div>
  </div>
</nav>
