<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Polymorph Generator</h1>
      <button type="button" class="btn btn-dark" (click)="getPolytype()">Polymorph</button>
      <hr>
      <button type="button" class="btn btn-dark" (click)="getCreature()">Creature</button>
      <button type="button" class="btn btn-dark" (click)="getElement()">Element</button>
      <button type="button" class="btn btn-dark" (click)="getItem()">Item</button>
    </div>
  </div>
</div>
