<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Greater Rod of Wonder Generator</h1>
      <button type="button" class="btn btn-dark" (click)="getGrwchart()">Chart</button>
      <hr>
      <button type="button" class="btn btn-dark" (click)="getComchart()">Common</button>
      <button type="button" class="btn btn-dark" (click)="getUncomchart()">Uncommon</button>
      <button type="button" class="btn btn-dark" (click)="getRarechart()">Rare</button>
    </div>
  </div>
</div>

